header {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

header .imagen-title {
  align-items: center;
  background-color: black;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  margin: 25px 0 30px;
}

header .imagen-title img {
  border-radius: 8px;
  height: 120px;
  width: 200px;
}

header .imagen-title h1 {
  color: yellow;
  font-size: 2.8rem;
  font-weight: 900;
  margin: 0 30px;
}

header .search input {
  background-color: rgb(17, 17, 17);
  border: 1px solid rgb(184, 184, 184);
  border-radius: 5px;
  color: white;
  font-size: 1.5rem;
  padding: 5px;
  text-align: center;
  width: 100%;
}

header .header-filter-content {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 35px 0;
  width: 95%;
}

header .header-filter-content .label-select {
  color: white;
  display: flex;
  flex-direction: column;
  font-size: 1.2rem;
  font-weight: 900;
}

header .header-filter-content label {
  color: white;
  font-size: 1.2rem;
  font-weight: 900;
}

header .header-filter-content .radios-select {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

header .header-filter-content select {
  background-color: rgb(17, 17, 17);
  border: none;
  border-bottom: 2px solid rgb(184, 184, 184);
  color: white;
  font-size: 1.5rem;
  margin-left: -5px;
  padding: 5px;
}

header .header-filter-content input {
  background-color: rgb(17, 17, 17);
  border: 1px solid rgb(184, 184, 184);
  border-radius: 5px;
  color: white;
  font-size: 1.5rem;
  padding: 5px;
  text-align: center;
  width: 150px;
}

header .header-filter-content .lable-radio {
  align-items: center;
  display: flex;
  gap: 3px;
  justify-content: flex-start;
}

header .header-filter-content .radio-button {
  height: 25px;
  width: 20px;
}

header .header-filter-content button {
  background-color: rgb(17, 17, 17);
  border: 1px solid yellow;
  border-radius: 5px;
  color: yellow;
  font-size: 1.5rem;
  height: 100px;
  padding: 5px;
  text-align: center;
  width: 130px;
}

header .header-filter-content .button-filter {
  margin-right: 10px;
}
