body {
  background-color: rgb(17, 17, 17);
  color: white;
  font-family: Droid Sans , Helvetica , sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
}

main {
  align-items: center;
  display: flex;
  flex-direction: column;
}
